button:hover {
    transform: scale(1.05);
    background-color: #f0f0f0;
  }
  
  .gallery-img {
    width: 150px;
    transition: transform 0.3s;
  }
  
  .gallery-img:hover {
    transform: scale(1.1);
  }